.index-join {
  padding: 190px 0;
  text-align: center;
  background-color: #fef0ef;
  background-image: url('../../img/bg-index-join.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.index-join__title {
  margin-top: 0;
  margin-bottom: 37px;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #302d3a;
}

.index-join__text {
  margin-top: 0;
  margin-bottom: 37px;
  font-size: 24px;
  line-height: 36px;
}
