.site-footer {
  padding-top: 74px;
  padding-bottom: 28px;
  background-color: #282834;
}

.site-footer__start {
  margin-bottom: 35px;
}

.site-footer__navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.site-footer__navbar-title {
  margin-top: 0;
  margin-bottom: 45px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}

.site-footer__navbar-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-footer__navbar-link {
  display: inline-block;
  font-size: 18px;
  line-height: 42px;
  text-decoration: none;
  color: #91929a;
  transition: opacity .3s;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.6;
  }
}

.site-footer__end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid #3f3f48;
}

.site-footer__copyright {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  color: #777;
}

.site-footer__social {
  display: flex;
  column-gap: 38px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-footer__social-item {
  width: 28px;
  height: 28px;
}

.site-footer__social-link {
  display: flex;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
